.header{
    background-color: gray;
    display: flex;
    justify-items: center;
}

.text-header{
    width: 20%;
    margin-top: 15px;
    padding-top: 20px;
    text-align: center;
}

.logo-space{
    width: 40%;
}

.buscador-space{
    width: 40%;
}