<body>
    <header>
        <h2 class="titulo-principal">Titulo ejercicio Punto 1</h2>

        <p class="parrafo-principal">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cumque beatae totam quasi doloremque a, repellat sapiente tempora! Cupiditate rem similique quo iste maxime mollitia molestiae consequatur soluta nam reiciendis.
        </p>
    </header>

    <br>

    <p class="parrafo-secundario">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem blanditiis, asperiores totam sequi quaerat ab repudiandae quia, facere beatae doloribus adipisci molestiae! Beatae optio eligendi corporis in nulla exercitationem?
    </p>

    <h2 class="titulo-principal">Vinculos a Paginas</h2>
    <hr>

    <ul class="lista-vinculos">
        <li><a class="vinculo" href="https://github.com/Jhonnfraf/COMPUTACION-GRAFICA-JFAF-Juan-Acosta">Repositorio de Github</a></li>
        <li><a class="vinculo" href="https://www.youtube.com/">Ingreso A youtube</a></li>
        <li><a class="vinculo" href="https://www.tiktok.com/es/">Ingreso a tiktok</a></li>
    </ul>

    <table class="tabla-productos">
        <thead>
            <tr>
                <th class="encabezado-tabla">Productos</th>
                <th class="encabezado-tabla">Existencias</th>
                <th class="encabezado-tabla">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="fila-par">
                <td>Iphone</td>
                <td>10</td>
                <td>$2.000.000</td>
            </tr>
            <tr class="fila-impar">
                <td>Mouse</td>
                <td>100</td>
                <td>$50.000</td>
            </tr>
            <tr class="fila-par">
                <td>PC Gamer</td>
                <td>100</td>
                <td>$3.000.000</td>
            </tr>
        </tbody>
    </table>
</body>